@font-face {
    font-family: "THSarabunNew";
    src: url(https://res.imemo.co/tcatcargo_alpha/misc/fonts/THSarabunNew-BoldItalic.ttf)
        format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "THSarabunNew";
    src: url(https://res.imemo.co/tcatcargo_alpha/misc/fonts/THSarabunNew-Bold.ttf)
        format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "THSarabunNew";
    src: url(https://res.imemo.co/tcatcargo_alpha/misc/fonts/THSarabunNew-Italic.ttf)
        format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "THSarabunNew";
    src: url(https://res.imemo.co/tcatcargo_alpha/misc/fonts/THSarabunNew.ttf)
        format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GB5WB1B";
    src: url(https://res.imemo.co/tcatcargo_alpha/misc/fonts/GB5WB1B.ttf)
        format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Chinese";
    src: url(https://res.imemo.co/tcatcargo_alpha/misc/fonts/Chinese.ttf)
        format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Chinese2";
    src: url(https://res.imemo.co/tcatcargo_alpha/misc/fonts/Chinese2.ttf)
        format("truetype");
    font-weight: normal;
    font-style: normal;
}


html {
    margin: 15px 15px;
}
body {
    font-family: "THSarabunNew", sans-serif;
    font-size: 17px;
}
h2 {
    margin-top: 0;
}

.text-bold {
    font-weight: bold;
}
.clear {
    clear: both;
}
.page-break {
    page-break-after: always;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    padding-left: 5px;
    padding-right: 5px;
}
table.bordered,
table.bordered th,
table.bordered td {
    border: 1px solid #777;
    color: #000;
}
td.bordered,
th.bordered,
tbody.bordered {
    border: 1px solid #999;
}
table.bordered.dark,
table.bordered.dark th,
table.bordered.dark td {
    border: 1px solid #666;
    background: #ddd;
}
table.bordered th,
table.bordered td {
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
    line-height: 15px;
}
table.tracking th,
table.tracking td {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    line-height: 12px !important;
}
.page-header {
    border: 1px solid #999;
    font-size: 24px;
    height: 40px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}
.user td {
    line-height: 12px !important;
    font-size: 18px;
}
td {
    /*line-height: 15px;*/
}
/*td div, th div{
	margin-top: -5px;
}*/
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.pull-right {
    float: right;
}
.div-wrapper div {
    line-height: 15px;
}
.contact td,
.bank td {
    line-height: 13px;
}

.thai-shipping div {
    padding: 1px;
}
