@font-face {
    font-family: "THSarabunNew";
    src: url(https://res.imemo.co/tcatcargo_alpha/misc/fonts/THSarabunNew-BoldItalic.ttf)
        format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "THSarabunNew";
    src: url(https://res.imemo.co/tcatcargo_alpha/misc/fonts/THSarabunNew-Bold.ttf)
        format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "THSarabunNew";
    src: url(https://res.imemo.co/tcatcargo_alpha/misc/fonts/THSarabunNew-Italic.ttf)
        format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "THSarabunNew";
    src: url(https://res.imemo.co/tcatcargo_alpha/misc/fonts/THSarabunNew.ttf)
        format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GB5WB1B";
    src: url(https://res.imemo.co/tcatcargo_alpha/misc/fonts/GB5WB1B.ttf)
        format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Chinese";
    src: url(https://res.imemo.co/tcatcargo_alpha/misc/fonts/Chinese.ttf)
        format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Chinese2";
    src: url(https://res.imemo.co/tcatcargo_alpha/misc/fonts/Chinese2.ttf)
        format("truetype");
    font-weight: normal;
    font-style: normal;
}
